body {
    background-color: #e4e4e4;
    background: #e4e4e4 url(/themes/standart/images/back.jpg) center top no-repeat;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
}

h1 {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}

.sky-clear {
    clear: both;
}
